@charset "UTF-8";

*{
	background-color: #F6F3EE;
	
}

body{
	margin:0;
	background-color: #F6F3EE;
	
}

/* questo è il colore dell'header */
#divheader {
    margin: 0px;
    background-color: #E9E5DC;
    display: flex;
    justify-content: space-between; /* Distribuisce equamente lo spazio tra gli elementi */
    align-items: center; 
    padding: 10px; 
}

#divheader img {
	width: 150px;
	height: 50px;
}

/* questo è il colore dei bottoni interni all'header */
#divheader div {
    margin: 1px; 
    padding: 10px;
    flex: 1; /* Permette ai div di occupare uno spazio uguale */
    text-align: center; 
    background-color: #ACCCAC;
}
.generale{
	display:flex;
	
    justify-content: space-between; 
    
}
#bSx{
	 float: right;
}
.generale>button{
	visibility: hidden;
}
.notVisible{
	visibility: hidden;
}

#scopriRicette{
	display:flex;
	justify-content: center; 
    align-items: center; 
    margin-top:100px;
    border-radius: 10px;
    margin-top: 100px;
}

#btnScopriRic{
	transition: transform 0.2s ease-in-out 0.1s;
	border-radius: 5px;
}


#btnScopriRic:hover{
	
	background-color: orange;
	transform: scale(1.1);
}
.divRicette{
	margin-top:100px;
	visibility:hidden;
	display:flex;
	justify-content: center; 
    align-items: center; 
	
}

.divRicette.show{
    visibility: visible; 
    /* opacity: 1;*/ 
}

.btnRic{
	width:200px;
	height:200px;
	margin:5px;
	transition: transform ease-in-out 0.1s;
}
.btnRic:hover{
	background-color: orange;
	transform: scale(1.05);	
}
	
